<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Captain Murphy's Used Autos</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="#">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Captain Murphy's Used Autos</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Hello World!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Look, a button</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Who we are</h4>
                <p>Deep sea automotive enthusiasts.</p>               
            </div>
 
            <div class="col-lg-6">
                <h4>What we do</h4>
                <p>We give you the fishiest deals and saltiest auto offers.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; CMUA 2016</p>
        </footer>
 
    </div>
</body>
 
</html>